<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Drinkkisovellus</title>
        <meta charset="utf-8"/>
    </head>

    <body> 
        <div align="center"> 
        <h1>Drinkkilista</h1>

        <div align="center">
        <ul>
            <li th:each="drinkki: ${drinkit}">
                 <a th:href="${'/drinkit/' + drinkki.id}"><span th:text="${drinkki.nimi}">drinkki</span></a>
            </li>
        </ul>
        </div>
        <form action="/drinkit" method="POST">
            <p>Luo oma drinkkisi!</p>
            <p></p>
            <p>Nimi:</p>
            <input type="text" name="nimi"/>
            <p></p>
            <input type="submit" value="Raaka-aineiden lisäykseen"/>
        </form>
        </div>
    </body>
</html>