<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Drinkkisovellus</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <font face="verdana"/>
        <div align="center">
        <h1><span th:text="${viimeinen}">drinkki</span>!</h1>
        <form name="raakaAine" action="raakaAine" method="POST">
            <p>Nimi:</p>
            <input type="text" value="nimi" name="nimi" />
            <p>Määrä:</p>
            <input type="text" value="määrä" name="määrä" />
            <input type="submit" value="lisää" name="lisää" />
        </form>
        </div>
    </body>
</html>